@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #7de49f;
  }
}

body {
  color: var(--foreground);
  background: var(--foreground);
  margin-left: 8rem;
  margin-right: 8rem;
  font-family: Arial, Helvetica, sans-serif;
}
